langchain-google-genai
google-generativeai>=0.5.2
pillow
argparse
flask
flask_cors
transformers
torch
google_auth_oauthlib
openai-whisper
emoji
av
numpy
livekit-api
livekit
webrtcvad
asgiref
nest_asyncio
noisereduce
torchaudio
onnxruntime